ion-img {
  max-width: 50%;
  margin: 0 auto;
}

ion-badge {
  margin-right: 10px;
}

.badges-container {
  display: flex;
  justify-content: space-between;
}

ion-segment {
  width: 70vw;
  margin: 0 auto;
}

.stat-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  .stat-name {
    margin-right: 20px;
  }

  .stat-value {
    width: 40vw;

    div {
      height: 19px;
      display: flex;
      align-items: center;

      ion-progress-bar {
        height: 12px;
        border-radius: 5px;
      }
    }
  }
}


