ion-img {
  max-width: 50%;
  margin: 0 auto;
}

ion-badge {
  margin-right: 15px;
}

ion-segment {
  //margin-top: 20px;
  width: 70vw;
  margin: 0 auto;
}

.stat-container {
  display: flex;

  .stat-name {
    margin-right: 20px;
  }
  .stat-value {
    width: 40vw;

    div {
      height: 19px;
      display: flex;
      alig-items: center;
    }
  }
}


